.listOption {
  padding-left: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  cursor: pointer;
}

.listOption:hover {
  background: #66666622;
  
}


.dropdownCheckbox {
  height: 8px;
}

.dropdownListValue {
  font-size: 14px;
}

label.textFieldLabel {
  color: var(--blue_1);
  font-size: 14px;
}

div.dropdownListContainer {
  width: fit-content !important;
}
