div.cardHeader {
  background-color: #f7f8f9;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0px 2px 0px rgb(0 0 0 / 10%);
}

div.cardContent {
  padding: 0 0;
  margin: 0 0;
}

div.cardContent:last-child {
  padding: 0 0;
}

ul.cardList {
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
}

li.cardListItem {
  margin: 8px auto;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #595959;
}

li.cardListItem:last-child {
  margin-bottom: 0;
}

span.cardListItemRightSpan {
float: right;
font-size: 18px;
color: var(--blue_1);
}

.sessionCard{
  margin-top: 12px;
}

div.cardContainer {
  border: 1px solid rgb(239, 234, 234);
  box-shadow:  none;
}