div.titleGrid {
  align-items: center;
}

.tabsDropdownsContainer {
  justify-content: space-between;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  margin-left: 0px !important;
  width: calc(100%) !important;
}

div.tabsGroup {
  padding-left: 0px !important;
}

.dropdownGroup {
  display: inline-flex;
}

.dropdownGroup > div:not(:last-child) {
  margin-right: 12px;
}

.dropdownGroup > div:nth-last-child(2) {
  margin-left: 6px;
  margin-right: 0px;
}

h3.inlineh3 {
  font-size: 22px;
}

button.tab {
  text-transform: none;
  font-weight: 600;
}

div.chipContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 35px;
}

span.checkboxLabel {
  color: var(--blue_1);
  font-size: 14px;
}