body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* primary blue variations - mimicked in src/components/constants.ts */
:root {
  --blue_1: #2e72f6;
  --blue_2: #255BC5;
  --blue_3: #D5E3FD;
}